body {
    background-color: #0091AD;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5em;
    border: 3px solid darkred;
  }


h1 {
    text-align: center;
  }

h2 {
    text-align: center;
  }

h3 {
    text-align: right;
}

.contain {
    margin: 1em;
    margin-bottom: 0.5em;
    padding: 1em;
    padding-top: 0em;
    border-radius: 1em;
    box-align: center;
    position: relative;
}

.cart {
    background-color:#39f50070;
    flex: 1;
    padding-top: 0.2em;
}

.cartTable {
    margin-left: auto;
    margin-right: auto;
    
}

.item {
    text-align: center;
}

.checkOut, .payBtn {
    display: block;
    margin: auto;
    border-radius: 1em;
    border: none;
    padding: 10px 15px;
    background-color: darkgray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
}

.pBtn, .mBtn {
    display: block;
    margin: auto;
    border-radius: 2em;
    border: 1pt solid darkgray;
    padding: 5px 10px;
    background-color: darkgray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
}

.pAmt {
    font-size: 12pt;
    font-weight: bold;
}

.payAmt {
    border: none;
    margin-left: 3px;
    padding: 5px;
    width: 50pt;
    background-color: darkgray;
    font-size: 12pt;
    font-weight: bold;
}

.pBtn:active, .mBtn:active, .checkOut:active, .payBtn:active, .close:active {
    box-shadow: 2px 2px 2px 2px rgb(141, 141, 141);
}

.small_pizza {
    background-color: #A01A58;
    flex: 1;
}



.medium_pizza {
    background-color:  #455E89;
    flex: 1;
}



.large_pizza {
    background-color: #723C70;
    flex: 1;
}



.contact_us{
    background-color: #B7094C;
    padding: 1em;
    border: 5px solid;
    margin: 1em;
    border-radius: 1em;    
}
.center_contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5em;
    border: 3px solid darkred
}


.pizza_img {
    text-align: center;
    margin-bottom: 50pt; 
}

.pizza_top{
    width: 97%;
    position: absolute;
    bottom: 0;
    padding-bottom: 0.5em;
    padding-left: 10pt;
    padding-right: 10pt;
}

 




.footer {
    position: relative;
    bottom: 0;
    margin-top: 1.5em;
    text-align: center;
}

@media (min-width: 960px) {
    .pizzas {
        display: flex;
    }    
}

body::-webkit-scrollbar {
    width: 12px;               
  }
  
  body::-webkit-scrollbar-track {
    background: #00f929;        
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #e5d15d;   
    border-radius: 25px;   
  }

.hidden {
    display: none;
}

.containerBox {
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    text-align: center;
    font-size: 20pt;
    font-weight: bold;
}

.close {
    border: 1pt solid darkgray;
    border-radius: 2em;
    padding: 5px 10px;
    background-color: darkgray;
    text-decoration: none;
  }